@use "./colors" as colors;
@use "../util/functions" as f;
@use "../util/breakpoints" as b;

body {
	background-color: colors.$primary;
}

nav {
	width: 100%;
	height: f.rem(80);

	box-shadow: rgba(0, 0, 0, 0.432) 0px 3px 16px;
	background-color: colors.$primary;

	padding: f.rem(5) f.rem(10);
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	h2 {
		margin-left: f.rem(10);
	}

	ul {
		height: 100%;
		display: flex;
		align-items: center;
		list-style-type: none;
		gap: f.rem(25);

		li {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 f.rem(10);
			a {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
				text-decoration: none;
			}
		}
	}
}

body {
	height: 100vh;
}

main {
	height: 100%;
	max-height: -webkit-fill-available;
}

.about-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: f.rem(40);
	text-align: center;

	padding: 0 f.rem(40);

	.intro {
		width: 100%;
		h1 {
			margin-bottom: f.rem(20);
		}

		p {
			opacity: 0;
			transition: opacity 1s ease-in-out;
		}
	}

	@include b.breakpoints-up(large) {
		flex-direction: row-reverse;

		.intro {
			justify-content: center;
			text-align: left;
			width: 50%;
			max-width: f.rem(600);
		}
	}

	@include b.breakpoints-up(xlarge) {
		.intro {
			max-width: f.rem(700);
		}
	}
}

.projects-section {
	padding-top: f.rem(90);
	height: 100%;
}
