@use "./colors" as colors;
@use "../util/functions" as f;

body {
	background-color: colors.$primary;
}

nav {
	height: f.rem(80);
	padding: f.rem(5) f.rem(10);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 8px;

	h2 {
		margin-left: f.rem(10);
	}

	ul {
		display: flex;
		align-items: center;
		list-style-type: none;
		gap: f.rem(25);

		li {
			padding: 0 f.rem(10);
			a {
				text-decoration: none;
			}
		}
	}
}
